@import "mixin/flex";
@import "variable";

nav {
    background-color: #18191a;
    position: fixed;
    width: 100vw;

    .menu {
        display: flex;
        color: white;

        div {
            height: 55px;
            padding-left: 5px;
            padding-right: 5px;
            min-width: 60px;
            @include flex-center;
            font-size: 14px;
        }

        div:hover:first-child {
            background-color: transparent;
        }

        div:hover {
            cursor: pointer;
            background-color: $colorPrimary;
        }
    }
}